<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="Server exchanges" Language="1033" Version="!(bind.FileVersion.MainApp)" Manufacturer="ASNA" UpgradeCode="d6ac8bfe-a039-4e2e-a8eb-df80a7ed077a">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <!--<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />-->
    <MediaTemplate EmbedCab="yes" />

    <Feature Id="ProductFeature" Title="SqlPlusDbSync.Server.Setup" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <UIRef Id="WixUI_InstallDir" />
    <WixVariable Id="WixUILicenseRtf" Value="lic.rtf" />
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="WARE32" Name="WARE32">
        <Directory Id="INSTALLFOLDER" Name="EXE">
        </Directory>
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="SqlPlusDbSync.Server.exe" Guid="75cfd8d6-be17-4bac-ad6e-46678e1ce2c7">
        <File Id="MainApp" Source="$(var.SqlPlusDbSync.Server.TargetPath)" />
      </Component>
      <Component Id="SqlPlusDbSync.Server.exe.config" Guid="d2fa44bf-7898-483b-810d-d7dbfa7a1918">
        <File Id="MainAppConfig" Source="$(var.SqlPlusDbSync.Server.TargetPath).config" />
      </Component>
      <Component Id="SqlPlusDbSync.Platform.dll" Guid="59e6ba2f-3932-47dc-af30-e759fd5424fc">
        <File Id="PlatformDll" Source="$(var.SqlPlusDbSync.Server.TargetDir)SqlPlusDbSync.Platform.dll" />
      </Component>
      <Component Id="Config_storage.json" Guid="5c4134ed-e542-42d3-bca0-af7c1cae289c">
        <File Id="DefaultConfig" Source="$(var.SqlPlusDbSync.Server.TargetDir)Config_storage.json" />
      </Component>
      <Component Id="Rules" Guid="8cc415cc-97a3-4989-a3ed-389f984b3a1b">
        <File Id="DefaultRules" Source="$(var.SqlPlusDbSync.Server.TargetDir)rules.dbe" />
      </Component>
    </ComponentGroup>

    <CustomAction Id="ExecPortOpen" Directory="INSTALLFOLDER" Execute="commit" Impersonate="no" ExeCommand="cmd.exe /c &quot;SqlPlusDbSync.Server.exe install&quot;" Return="check" />
    <InstallExecuteSequence>
      <Custom Action="ExecPortOpen" After="InstallInitialize" />
    </InstallExecuteSequence>
  </Fragment>
</Wix>
