[submodule "Portable.Xaml"]
	path = Portable.Xaml
	url = https://github.com/cm4ker/Portable.Xaml.git
[submodule "External/MessageBox.Avalonia"]
	path = External/MessageBox.Avalonia
	url = https://github.com/cm4ker/MessageBox.Avalonia.git
