<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <packageSources>
        <!-- folder with debug builds, nuget restore finds them and installs them into its cache -->
        <add key="Aquila Debug Packages" value=".nugs" />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <add key="Avalonia" value="https://www.myget.org/F/avalonia-ci/api/v2" />
        <add key="AvaloniaDock" value="https://www.myget.org/F/dock-nightly/api/v2" />
        <add key="Aquila" value="https://www.myget.org/F/aquila/api/v2" />
    </packageSources>
</configuration>