<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Runner>
    <AccessPoint>
      <Listener>
        <Listener1 Address="127.0.0.1:12345" Type="Test"/>
        <Listener2 Address="127.0.0.1:12346" Type="User"/>
        <Listener3 Address="127.0.0.1:12347" Type="Admin"/>
      </Listener>
    </AccessPoint>

    <Environments>
      <Environment1 DatabaseType="SqlServer">
        <ConnectionString>Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=testdb;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False</ConnectionString>
      </Environment1>
    </Environments>

  </Runner>
  <Logging>
    <Nlog>

    </Nlog>
  </Logging>
</configuration>