{
    "AccessPoint": {
        "Listener": [
            {
                "Address": "127.0.0.1:12345",
                "Type": "Test"
            }
        ]
    },
    "CacheService": {},
    "Environments": [
        {
            "DatabaseType": "SqlServer",
            "ConnectionString":"Data Source=.;Initial Catalog=testdb;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"
        }
    ]
}