@page "/JustForInfo"
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor accessor;

<div href="123">Hello world

    @{ var a = 1;}</div>
    <input type="text" @bind="myText" />
    <button @onclick="@Test"></button>
@code
{
    string myText;
    
    public void Test()
    {
    }
}